<h1>Welcome to our app</h1>
<ul>
  <li>{{#link-to 'index'}}Home{{/link-to}}</li>
  <li>{{#link-to 'about'}}about{{/link-to}}</li>
  <li>{{#link-to 'services'}}services{{/link-to}}</li>
  <li>{{#link-to 'contact'}}contact{{/link-to}}</li>
</ul>

{{outlet}}
